## Data Manipulation with pandas

### Reading and writing csv files

In [ ]:
import pandas as pd
dataframe= pd.read_csv("file_name.csv")      #read csv file
dataframe.to_csv("new_file_name.csv")        #save dataframe to csv file

### Data viewing/Data summary functions

In [ ]:
dataframe.head(n)                     #returns first n rows of dataframe
dataframe.info()                      #given info like number of rows and columns,null count,datatype, memory usage
dataframe.shape                       #(rows count,columns count)
dataframe.describe()                  #statistical data for numerical dtype columns like count, min,max,mean,etc.
dataframe.values                      #shows data in 2D array
dataframe.index                       #row number, row names
dataframe.columns                     #returns column names and dtype
dataframe.column_name.value_counts()  #count of unique values in a column
dataframe['column_name'].value_counts()
dataframe['clmn'].isnull().sum        #counts number of null rows in a column

### Sorting and Subsetting

In [ ]:
df.sort_values("column_name")                                            #sorting in ascending order
df.sort_values("column_name",ascending=False)                            #sorting in descendng order
df.sort_values(["c1,","c2"],ascending=[True,False])                      #sorting by multiple variables
df['column']                                                             #column subsetting
df['c1','c2']
df['column'] > n                                                         #rows subsetting
df[df['column']>n]                                                       #returns all columns with filter
df[df['column']=='text']                                                 #subsetting based on text data
df[df['date_column']<"YYYY-MM-DD"]                                       #subsetting date column

#subsetting based on multiple conditions
condition1 =df["clmn1"]=="condition"
condition2 =df["clmn2"]=="condition"
df[condition1 & condition2]

#subsetting using .isin()
c1_or_c2 = df["clmn"].isin(['c1','c2'])
df[c1_or_c2]

#new column
df['height_m']= df['height_cm']/100

### Statistics using pandas

In [ ]:
#basic statistical functions
df['clmn'].mean()
df['clmn'].mean(axis='index')                                #across rows
df['clmn'].mean(axis='columns')                              #across columns
df['clmn'].median()
df['clmn'].mode()
df['clmn'].min()
df['clmn'].max()
df['clmn'].std()
df['clmn'].var()
df['clmn'].sum()
df['clmn'].quantile()

#agg() is used to calculate data in a series, used to pass multiple functions at once
df['column'].agg(['mean','sum'])                              #single column
df.agg({'column1':['mean','sum'],'column2':'mean'})           #multiple columns

#cummulative functions
df['column'].cumsum()
df['column'].cumprod()
df['column'].cummin()
df['column'].cummax()

#grouped summary statistics
df.groupby('column1')['column2'].agg(['mean','sum'])          #summaries of column2 grouped by column1
df.groupby('column1')['column2'].mean()
df.groupby(['column1','column2'])['column3'].mean()           #group by multiple variables

#counting
df.drop_duplicates(subset ='column1')                         #drop duplicates based on names
unique=df.drop_duplicates(subset=['c1','c2'])                 #drop duplicate pairs
unique['c1'].value_counts(normalize=True)                     #in terms of proportion of total
unique['c1'].value_counts(sort=True)                          #sorted

### Pivot Tables

In [ ]:
#group by using pivot tables:
df.groupby("c1")["c2"].mean() 
#can be written as ->
df.pivot_table(values="c2",index="c1")

#by default pivot table returns mean value. For other statistical values:
df.pivot_table(values="c2",index="c1",aggfunc=[np.mean,np.median])

#pivot on 2 variables
df.groupby(["c1","c2"])["c3"].mean()
#can be written as ->
df.pivot_table(values="c3",index="c1",columns="c2",fill_value=0, margins=True)
#fill_value fills missing values
#margins argument returns mean of each row and column

### Explicit Indexes

In [ ]:
df_index= df.set_index("column")                                            #setting the column as index,we can index any column
df_index.reset_index()                                                      #removing an index
df_index.reset_index(drop=True)                                             #entirely removes the index

df_ind2= df.set_index(["column1","column2"])                                #multi level indexes
df_ind2= df.set_index(level=["column1","column2"],ascending=[True,False])   #controlling sort index
df_ind2.loc[["vc1","vc2"]]                                                  #subset with a list, vc1:column1::vc2:column2
df_ind2.loc[[("vc11","vc21"):("vc12","vc22")]]                              #subset inner levels with a list of tuples

#Indexes makes subsetting easier
df[df["column"]].isin(["v1","v2"])
#can be coded as ->
df_index.loc[["v1","v2"]]

### Slicing/Subsetting using .loc[] and .iloc[]
slicing based on row and column label:   **.loc[row_label, column_label]**<br>
slicing based on indexes:   **.iloc[row_index,column_index]**

In [ ]:
df=df.set_index(["c1","c2"]).sort_index()                            #first sort the dataset before slicing it
df.loc[("vc11","vc21"):("vc12","vc22")]                              #using tuples slicing at inner level
df.loc[("vc11","vc21"):("vc12","vc22"),"column3":"column4"]          #slicing rows and columns
df.loc["2023-09-09":"2023-12-18"]                                    #slicing by dates

#iloc
df.iloc[2:5,1:4]                                                     # 5 and 4 are not inclusive

### Handeling Missing Values

In [ ]:
df.isna()                                      #detect missing values
df.isna().any()                                #detect missing value(if any) in a column
df.isna().sum()                                #counting missing values
df.dropna()                                    #remove rows with missing values
df.fillna(value)                               #replace missing values with another value

import mtplotlib.pyplot as plt
df.isna().sum.plot(kind="bar")                 #plot missing data
plt.show()

### Dataframe creation
<img src="Df.JPG" />

There are 2 ways to create dataframe:<br>
 __List of Dictionaries__: create data row by row<br>
 __Dictionaries of lists__ : create data column wise<br>

In [ ]:
#list of dictionaries:
df= [{"name":'Ginger','Breed':'Labrador','Height':22,'DOB':'2019-03-14'}
     {'name':'Scout','Breed':'Dalmatian','Height':59,'DOB':'2019-05-02'}
]
dogs=pd.DataFrame(df)

#dictionaries of lists:
df= {
    "name":['Ginger','Scout'],
    "Breed":["Labrador","Dalmatian"],
    "Height":[22,59],
    "DOB":["2019-03-14","2019-05-02"]
}
dogs=pd.DataFrame(df)

## Reshaping Data with Pandas

Data formatting is requires if data is not inappropriate format for analysis<br>
**Wide Format** : columns> rows, used for simple stats and manipulation<br>
                  No repitation but large number of missing data<br>
**Long Format** : rows>columns; tidy data; preffered for analysis and graphing<br>
**Wide to Long Format** : .melt() and .wide_to_long()<br>
**Long to wide Format** : .pivot() and .pivot_table()<br>

In [ ]:
df.shape()                                      #necessary to know shape of data
df.set_index("c1")[["c2","c3"]].transpose()     #transpose() is used to exchange indexes and columns

#long to wide reshaping: operations that requires column to be unique variable
#pivot method:
#here c1- index column, c2- header column, c3- values column
df.pivot(index="c1",columns="c2",values="c3")

#pivot table: summarizes data of a larger data frame
#sorts limitations of pivot method
df.pivot_table(index="c1",columns="c2",values="c3",aggfunc=['mean','median'])

wide to long reshaping using .melt()
<img src="melt.JPG" />

In [ ]:
#using .melt()
#id_vars:identifier variables, value_vars:columns we want to melt,
#var_name: name of variable column , value_name: name of value column
df.melt(id_vars=['Name'],value_vars=['Math','Physics'],var_name=['Subject'],value_name=['Score'])

wide to long reshaping using wide_to_long()
<img src="reshape.JPG" />

In [ ]:
#wide to long:
pd.wide_to_long(df,stub_names=["age","weight",i="name",j="year"])               #i = index of long dataframe
#if i and j are unidentified by pandas an empty dataframe is returned
pd.wide_to_long(df,stub_names=["age","weight",i="name",j="year",sep= "-"])      #if separator is there lke age-2019,weight-2019
pd.wide_to_long(df,stub_names=["age","weight",i="name",j="year",suffix='\w+'])  #if column names ends with a word not nummber

## String Column Operations:

In [ ]:
df['c1'].str.split(":")                                      #split about delimiter :
df['c1'].str.split(":").str.get(0)                           #get element of 0 index
df[['c2','c3']]= df['c1'].str.split(":",expand=True)         #With 2 separate columns
df.drop('c1',inplace=True)

df['c3']=df['c1'].str.cat(df['c2'],sep=" ")                  #concatenate two columns, assign it to new column c3
df.index=df.index.str.cat(df['c1'],sep=" ")                  #concatenate with index
df.index= df.index.str.split("-",expand=True)                #split index

new_list=['a','b','c']
df['c1'].str.cat(new_list,sep=" ")                           #concatenate series

## Stacking Dataframes

Another method used to pivot dataframe from wide to long format.<br>
Level of columns are rearranged to obtain a reshaped Dataframe with a new inner-most level row index.<br>
<img src="stack.JPG" />

In [ ]:
#create multi-level index and columns for data frame:
index= pd.MultiIndex.from_arrays([['Wick','Wick','Shelly','Shelly'],['John','Bryan','Mary','Frank']],names=['Last','First'])
data={'Height':[182,179,152,180],'Weight':[75,84,52,76]}
Agents=pd.DataFrame(data,index=index)
print(Agents)
Agents_stacked=Agents.stack()                                #stack data!
Agents.stack(level=0)                                        #stack level  by number
Agents.stack(level=Agents.index.names.index('Last'))         #stack level by name

#unstack() is reverse of stack
Agents_stacked.unstack()                                     
Agents_stacked.unstack(level=1)
print(Agents_stacked.unstack(level='First'))
print(Agents_stacked.unstack(level=1).stack(level=0))        #rearranging levels

### Working with multiple levels:
Rearranging multiple levels: <br>
- swap levels
- stack and unstack multiple levels at the same time

<img src="swap levels.png" />

In [ ]:
df.swaplevel(0,2)                                    #swap levels
df.swaplevel(0,2).unstack()         
df.swaplevel(0,1,axis=1)
df.stack().swaplevel(0,2)                            #swap levels and stack

df.unstack(level=[0,1])                              #unstack by number
df.unstack(level=['clmn1','clmn2'])                  #unstack by name

df.unstack.stack(level=[0,1])                        #unstack then stack by number
df.unstack.stack(level=['clmn1','clmn2']             #unstack then stack by name

df.unstack(level='clmn1',fill_value='Nan')           #handeling Nan with unstack
df.stack(dropna=False).fillna(0)                     #handeling Nan with stack

### Reshaping and combining data
statistical functions can be preffered on dataframe - .sum(), .mean(), .median() .diff()

In [ ]:
sales.stack().sum(axis=1)  #can also be written as
sales.stack().sum(axis=1).unstack()

sales.unstack(level=0).mean(axis=1)                                        #unstack and stats
sales['column'].unstack(level='clmn2').diff(axis=1,periods=2)              #difference in amount of sales b/w years

sales.stack().groupby(level='shop').sum()                                  #reshaping and grouping
sales.groupby(level='year').median()                                       #reshaping after grouping

sales.groupby(level=1).median().stack(level=[0,1]).unstack(level='year')   #median amnt of products by year

### Transforming list-like columns

In [ ]:
df_explode=df['clmn2'].explode()
df[['clmn2','clmn3']].merge(df_explode,left_index=True,right_index=True)   #back in dataframe

df.assign(df1=df['clmn1'].str.split(',')).explode('clmn1')                 #chaining operation

### Reading nested data into a dataframe
**JSON format:**
- JavaScrip Object Notation -Data interchange format
- Easy to read and right ,easy for machines to process and generate
- JSON is very similar to data library
- record_path : tells pandas which path leads to each individuals records

In [ ]:
#data normalization:
from pandas import json.normalize
json_normalize(writers)
writers_norm =json_normalize(writers,sep='-')

#complex JSON
writers_norm=json_normalise(writers,record_path='books')
json_normalize(writers,record_path='books',meta=['name','last'])

### Dealing with nested data columns 
writers =[                    ]<br>
books = [" {                  }","{                   }"]

In [ ]:
colllection =pd.DataFrame(dict(writers=writers,books=books))         #nested data in columns

import json
books=collection['books'].apply(json.loads).apply(pd.Series)         #converting nested data- will convert json data into python dictionary

collection =collection.drop(columns ='books')
pd.concat([collection,books],axis=1)                                 #concat both datas

import json
books =collection['books'].apply(json.loads).to_list()
books_dump =json.dumps(books)                                        #dumping nested data
new_books=pd.read_json(books_dump)
pd.concat([collection['writers'],new_books,axis=1)

## Joining Data with Pandas
**Consider tables with following columns :**<br>
ward(shape: 50,4) -> [ward,alderman,address,zip]<br>
census(shape: 50,6) -> [ward,pop_2010,pop2020,change,address,zip]<br>
grants(shape: 50,4) -> [address,zip,grant,company]<br>
licences(shape:50,6) -> [account,ward,aid,business,address,zip]<hr>
movie(shape:4803,4) -> [id,original_title,popularity,release_date]<br>
tagline(shape: 3955,2) ->[id,tagline]<br>
tv_genre(shape: 3000,2) ->[movie_id,tv_genre]

<img src='joins.jpg' />

In [ ]:
ward_census=ward.merge(census, on='ward')                                           #inner join
ward_census=ward.merge(census,on='ward',suffixes=('_w','_c'))                       #control suffix

#merge on multiple columns,both adress & zip must be same in both
grants_license =grants.merge(license,on=['address,zip'])
#merge multiple tables
multi_merge= gets.merge(license, on=['address','zip']).merge(ward,on='ward',suffix=('_base','_w')).merge(....)

movie_tagline =movie.merge(tagline, on='id',how='left')                            #left join
movie_tv= movie.merge(tv_genre, how='left',left_on='id',right_on='movie_id')       #left join on different column names

movie_tagline =movie.merge(tagline,on='id',how='outer',suffix=('_m','_t'))         #outer join;suffix to differnetiate columns

sequals.merge(sequals,left_on='sequal',right_on='id',suffix=('_m','_s'))           #self join;merge here is inner join

#merging on index:
movies=pd.read_csv('movies.csv',index_col=['id'])                                  #setting index
movies_genre=movies.merge(to_genre,left_on='id',left_index=True,right_on='movie_id',right_index=True)

### Advanced Merging and concatinating
Multiple joins : Combining data from two tables based on matching observations<br>
Filtering Joins : Filter Observations based on another tables observations<br>
Semi Joins: Semi Joins are just like inner joins,no column from right df is returned, also no duplicates<br>
Anti Joins: Returns rows from left table which do not have any match in right table after joining

In [ ]:
#Semi Joins
genre_tracks=genre.merge(top_tracks,on='genre')
top_genre=genre.[genre['gid'].isin(genre_tracks['gid'])]

#Anti Join:
genre_tracks=genre.merge(top_tracks,on='gid',how='left',indicator=True)
gid_list=genre_tracks.loc[genre_tracks['_merge']=='left_only','gid']
non-top_genre=genres[genre['gid'].isin(gid_list)]

### Concate Dataframes together Vertically

In [ ]:
pd.concat([inv_jan,inv_feb,inv_mar])                                 #basic concatenation
pd.concat([t1,t2,t3],ignore_index=True)                              #ignore index
pd.concat([t1,t2,t3],ignore_index=False, keys=['jan','feb','mar'])   #setting labels to original table, make sure index=False
pd.concat([t1,t2],sort=True)                                         #arranges columns in alphabetical order

#concate tables with different column names:
pd.concat([t1,t2],join= 'inner')                                     #the inner join will ignore the uncommon column in both dataframes

### Verify integrity of data
**Merging issues:** unintentional one-to-one or many-to-many relations<br>
<u>To validate merge</u> - .merge(validate= 'x') where x : ['None','one_to_one','one_to_many','many_to_one','many_to_many']<br>
**Concat issues:** Duplicate records possibly unintentionally introduced<br>
<u>To validate concatenation</u> - .concat(verify_integrity = False)
(check whether new concatenated index contains duplicates , default is false.It is necessary to verify integrity to fix incorrect data and drop duplicate rows)

In [ ]:
#merge validate
tracks.merge(specs,on='tid',validate='one_to_one')                   #!!!! merge error
tracks.merge(specs,on='tid',validate='one_to_many')                  #works!

#concate validation
pd.concat(verify_integrity =False)

### Merging Ordered and time-series data
**why to use merge_order() ?** <br>
- if we have ordered data/time series
- to fill missing data by using forward or backward filling , as they are necessary for ML models

**using merge_asof()** <br>
- similar to merge_ordered() left join, similar features as merge_ordered()
- only catch: merge on the nearest key column and not exact matches.  **Merged 'on' column must be sorted!!**
- Closest data less than first dataframe columns is taken from right table column.To select data greater than first df corner we use direction keyword
- **when to use?** data sampled from a process developing a training set
- direction keywords : 'forward', 'backward','nearest'

<img src='merge.jpg' />

In [ ]:
# using merge_ordered()
pd.merge_ordered(appl,mcd,on='date',suffixes=('_appl','_mcd')
pd.merge_ordered(applmmcd,on='date',suffixes=('_appl','_mcd'),fill_method='ffill')     #forward fill

#using merge_asof()
pd.merge_asof(visa,ibm,on=['data_time'],suffixes=('_v','_ibm'),direction='forward')

In [ ]:
#select data with .query -- similar to WHERE clause in SQL statement
stocks.query('mike >= 90')
stocks.query('mike >90 and disney <=140')
stocks.query('stocks == "disney" or (stock == "mike" and close<90)')

#reshaping data with .melt()
df2=df1.melt(id_vars=['c1','c2'],value_vars=['v1','v2'],var_name =['year'],value_name='dollars')