### Basic Operations

In [15]:
#Here, x:variable ; +: operator ; 2: constant ; print: function
x=2;
x=x+2;
print(x)

4

In [16]:
# for string constants : single quotes ('') or double quotes (" ")
print(234)
print(44.5)
print('jam')

234
44.5
jam

In [17]:
# Assignment statements : we assign values to variables using assignment statement (=)
x=4;
x= 3.9*x*(1-x);
print(x)

-46.8

<b>Operators and Operations:</b>                            
'+' : addition                                         
'-' : subtraction                                   
'*' : multiplication                                   
'/' : division                                         
'**': power<br>
'%' : reminder<br>

<b> Operator Precedence </b><br>
Parenthesis<br>
Power<br>
Division, Mulitplication,Reminder<br>
Subtraction,Addition<br>

In [18]:
#python identifies difference between numbers and strings
dd= 1+4;
print("dd =",dd)
ee= 'hello' +' there';
print(ee)

dd = 5
hello there

In [19]:
# type() to find type of input
type(11.4)

float

In [20]:
# input() is just like scanf(), takes input from users
name= input("Enter Name: ")
print("Welcome ",name)

Enter Name: Sam
Welcome  Sam

### Conditional Statements : if, else, elif, try/except

In [21]:
#if statement: for one way check
x= 23;
if x<10:
    print('smaller')
if x>20:
    print('bigger')
print('completed')

bigger
completed

In [22]:
#if/else combo : for 2 way check
x= int(input('Enter x:'))
if x%2==0 :
    print('even number')
else:
    print('odd number')
print('checked')

Enter x:34
even number
checked

In [23]:
#if/else/elif:
x=int(input('Enter x:'))
if x<10:
    print("single digit number")
elif x>=10 and x<100 :
    print("double digit number")
else:
    print('more than 2 digits')
print('checked')

Enter x:23
double digit number
checked

In [24]:
#try/except: used to handle error statements and run code smoothly
g= input('your input:')
try:
    i=int(g)
    print('Your input interger',i)
except ValueError:
    i=-99
    print('Not an interger',i)

your input:234
Your input interger 234

In [25]:
h= input('your input:')
try:
    i= int(h)
except ValueError:
    i=-1
print('i=',i)

your input:"566"
i= -1

### Loops and Idioms

In [26]:
#while loop:
n= int(input('enter n>0: '))
while n>0:
    print(n)
    n=n-1
print('blast off')
print(n)

enter n>0: 4
4
3
2
1
blast off
0

In [27]:
#while with a break statement:
#break is used to come out of an infinite loop
while True:
    l=input('>')
    if l=='done':
        break
print(l)

>5
>6
>4
>77
>done
done

In [28]:
#continue is use to skip a particular step
while True:
    line= input('*')
    if line[0] == '#':
        continue
    if line =='done':
        break
    print(line)
print('Done!')

*34
34
*34
34
*56
56
*#
*done
Done!

In [29]:
#for loop:
for i in [5,7,8,4,3,55,7,9]:
    print(i)
print('done');

5
7
8
4
3
55
7
9
done

In [30]:
for i in ['Jim','Pam','Micheal','Dwight']:
    print("Office member: ",i)
print("Dunder Mifflin")

Office member:  Jim
Office member:  Pam
Office member:  Micheal
Office member:  Dwight
Dunder Mifflin

In [31]:
#search using boolean variable
found= False
print('Before: ',found)
for value in [7,8,45,99,1,2,54,3]:
    if value == 3:
        found= True
        print('found',value)

Before:  False
found 3

In [32]:
# find smallest number
smallest= None
for value in [7,8,45,99,1,2,54,3]:
    if smallest is None:
        smallest=value
    elif smallest > value:
        smallest=value
print("smallest value= ",smallest)

smallest value=  1

### Functions

In [33]:
#basic syntax
def thing():
    print('Hello')
    print('Fun')
    
thing()
print('*')
thing()

Hello
Fun
*
Hello
Fun

In [34]:
#parameters
def area(r):
    A= 3.14*r*r
    print(A)
r=7
area(r)

153.86

In [35]:
#return value in function
def volume(r):
    V= 4/3*3.14*r*r*r
    return V
r=7
volume(r)

1436.0266666666666

### Data Type:String

In [36]:
#looking inside string
fruit='apple'
print('3rd letter in apple :',fruit[2])

#length of string
print('length of fruit:',len(fruit))

#looping through strings:
fruit='guava'
index=0
while index<len(fruit):
    print(fruit[index],end=" ")
    index=index+1

#much elegant way
for i in 'apple':
    print(i,end=" ")

3rd letter in apple : p
length of fruit: 5
g u a v a a p p l e

In [37]:
#slicing strings
s= 'Monthly payment'
print(s[0:4])       #first 3 characters
print(s[6:7])       #sixth character
print(s[:2])        #beginning to second character
print(s[8:])        #eight to last character
print(s[:])         #all characters

Mont
y
Mo
payment
Monthly payment

In [38]:
#string concatenation
a= 'Harry'
b= 'Potter'
c= a+ ' '+b
print(c)

Harry Potter

In [39]:
#in as logical operator
fruit='guava'
'n' in fruit
"a" in fruit

True

In [40]:
#string library: 
#these doesn't modify the original string,instead they return a new string that has been altered
greet= 'Namaste Bahadur'
print(greet.lower())                        #all letters lower case
print(greet.find('ad'))                     #prints first position of characters to be found
print(greet.find('z'))                      #if not present returns garbage value(-1)
print(greet.upper())                        #all letters upper case
print(greet.replace('Bahadur','Hanumant'))  #replaces all occurances of serach string with replacement string
print(greet.capitalize())                   #capitalize first letter of the string

namaste bahadur
11
-1
NAMASTE BAHADUR
Namaste Hanumant
Namaste bahadur

In [41]:
fact= "  Earth is not round  "
print(fact)
print(fact.lstrip())      #removes whitespace from left side
print(fact.rstrip())      #removes whitespace from right side
print(fact.strip())       #removes whitespace from both sides
d=fact.strip()
d.startswith('Earth',0,5) #checks if string starts with given string, with start and end index specified

  Earth is not round
Earth is not round
  Earth is not round
Earth is not round

True

### Files Handeling

In [44]:
#open() returns a file handle, a pothole between your program and file
fhand= open('bear.txt','r')   # mode: w to write, r to read 
                              # if file missing: setback msg

In [54]:
#reading whole file by iterate a sequence
xfile= open('bear.txt')
for Asian in xfile:
    print(Asian)

Types of Bears:

North American Black Bear

Asiatic black Bear

Brown Bear

Polar Bear

Panda Bear

Sloth Bear

Andean Bear

Sun Bear

In [59]:
#reading whole file at once:
fhand=open('bear.txt')
imp=fhand.read()  #reads all characters
print(len(imp))   #number of all characters
print(imp[:16])

125
Types of Bears:

In [63]:
#searching through a file:
#suppose some lines have special info like emails or roll number,we can read each line and extract info through them
xfile=open('Bear.txt')
for line in xfile:
    k=line.strip()
    if k.endswith('Bear'):
        print(k)

North American Black Bear
Asiatic black Bear
Brown Bear
Polar Bear
Panda Bear
Sloth Bear
Andean Bear
Sun Bear

In [66]:
xfile=open('Bear.txt')
for line in xfile:
    line=line.strip()
    if not 'Sloth' in line:
        continue
    print(line)

Sloth Bear

In [67]:
#use try and except for bad file name:
try:
    xfile=open('Bear.txt')
except:
    print('file cannot be opened!')

### Lists
A collection that alllows us to put multiple values in a single variable<br>
List can be empty<br>
A list element can be another list : [1,[5,6],7]<br>
Lists are mutable, strings are immutable!<br>

In [72]:
z=['Ross','Rachel','Monika','Joey','Chandler','Pheobe']
for x in z:
    print('F.R.I.E.N.D.S. character:',x)       #looping
print('2nd character:',z[1])                   #indexing
print(len(z))                                  #number of elements
print(list(range(5)))                          #returns list of numbers from 0 to 4

F.R.I.E.N.D.S. character: Ross
F.R.I.E.N.D.S. character: Rachel
F.R.I.E.N.D.S. character: Monika
F.R.I.E.N.D.S. character: Joey
F.R.I.E.N.D.S. character: Chandler
F.R.I.E.N.D.S. character: Pheobe
2nd character: Rachel
6
[0, 1, 2, 3, 4]

In [84]:
#list manipulation
a=[1,2,8]
b=[4,15,6]
c=a+b
print("c:",c)            #concatenation
d= c[2:5]
print('d:',d)            #slicing
print(type(a))           #list is a class itself
4 in c                   #check in a list using 'in'
c.sort()                 #sort the list in ascending order
print('sorted c:',c)

c: [1, 2, 8, 4, 15, 6]
d: [8, 4, 15]
<class 'list'>
sorted c: [1, 2, 4, 6, 8, 15]

In [89]:
#adding elements in list:
x=list()
x.append('Yonex')
x.append('Li-Ning')
x.append('Victor')
print(x)

['Yonex', 'Li-Ning', 'Victor']

In [91]:
#add using loop
numlist=list()
while True:
    inp=input('enter a number')
    if inp=='done':
        print(numlist)
        break
    value=float(inp)
    numlist.append(value)

enter a number45
enter a number55
enter a number65
enter a numberdone
[45.0, 55.0, 65.0]

In [95]:
#list and strings
a= 'Zathura a    space Adventure'
stuff=a.split()                            #breaks a string into parts and store them as a list
print(stuff)                               #takes multiple spaces as a single space     
print('number of elements: ',len(stuff))   #we can count number of words in a line

['Zathura', 'a', 'space', 'Adventure']
number of elements:  4

In [97]:
#delimiter
b= "first;second;third;fourth"
ranks=b.split(";")
print(ranks)

['first', 'second', 'third', 'fourth']

In [101]:
#double split
a='From harry@gmail.com Saturday Jan 5'
b=a.split()
c=b[1]
print(c)
d=c.split('@')
print(d)
name=d[0]
print(name)

harry@gmail.com
['harry', 'gmail.com']
harry

In [112]:
#double split
name=list()
xfile=open('Bear.txt')
for line in xfile:
    line=line.strip()
    if line.endswith('Bear'):
        a=line.split()
        name.append(a[0])
print(name)

['North', 'Asiatic', 'Brown', 'Polar', 'Panda', 'Sloth', 'Andean', 'Sun']

### Dictionaries
Dictionaries are memory based key value stores<br>
Dictionaries are like bags: no order<br>
So,we index the things we put in the dictionary with a lookup tag<br>
Dictionaries are like lists except they use keys instead of numbers to look up values<br>

In [1]:
#create dictionary
purse=dict()
purse['money']=12
purse['candy']=5
purse['tissues']=40
print(purse)
print(purse['candy'])

{'money': 12, 'candy': 5, 'tissues': 40}
5

In [3]:
jjj={'India':91,'America':1,'United Kingdoms':44}
print(jjj)
'Zambia'in jjj

{'India': 91, 'America': 1, 'United Kingdoms': 44}

False

In [7]:
#counting with dictionaries
#using 'in' operator to check if a key is in dictionary or not
counts=dict()
names=['Fred','george','Mike','Jimmy','george','Henna']
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name]=counts[name]+1
print(counts)

{'Fred': 1, 'george': 2, 'Mike': 1, 'Jimmy': 1, 'Henna': 1}

In [9]:
#get method for dictionaries to check if a key is already present or not
country={'India':91,'America':1,'United Kingdoms':44}
x= country.get('Kenya',0)            #0 : default value,no traceback
y=country.get('India',0)
print(x)
print(y)

0
91

In [12]:
#for in dictionaries looks up all the keys and values
country={'India':91,'America':1,'United Kingdoms':44}
for key in country:
    print(key,country[key])
print(list(country))        #list of all keys
print(country.keys())       #list of all keys
print(country.values())       #values of all keys
print(country.items())      #returns a list

India 91
America 1
United Kingdoms 44
['India', 'America', 'United Kingdoms']
dict_keys(['India', 'America', 'United Kingdoms'])
dict_values([91, 1, 44])
dict_items([('India', 91), ('America', 1), ('United Kingdoms', 44)])

In [13]:
#two iteration variables
country={'India':91,'America':1,'United Kingdoms':44}
for aaa,bbb in country.items():
    print(aaa,bbb)

India 91
America 1
United Kingdoms 44

### Tuples
More like lists, tuples cannot be modified(immutable)<br>
Tuples work much like list, they have elements which are indexed starting at 0<br>
Since tuples are immutable, append(),reverse(),sort() functions won't work<br>
Simpler and efficient than lists in terms of memory use and performance<br>
When we make temp. variables tuples are preffered over lists<br>

In [16]:
#create tuple
x=('Cricket','Badminton','Javelin','Archery')
print(x[2])
y=(23,45,67)
for z in y:
    print('y:',z)
(a,b)= ('Honk',3)        #tuples mapping
print('b:',b)

Javelin
y: 23
y: 45
y: 67
b: 3

Tuples are comparable. We can take advantage of the fact to sort list of tuples<br>
using items() and sorted()

In [17]:
#sort based on  keys
d={'a':10,'b':1,'c':22}
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [20]:
#sort based on values
d={'a':10,'b':1,'c':22}
temp=list()
for(k,v) in d.items():
    temp.append((v,k))
print('temp list:',temp)

c =sorted(temp,reverse=True)
print('sorted temp :',c)

temp list: [(10, 'a'), (1, 'b'), (22, 'c')]
sorted temp : [(22, 'c'), (10, 'a'), (1, 'b')]